{% extends "navbar.html"%}

{% block content %}
    <div class="row">
        {% for item in data %}
        <a href="product/{{item.id}}">
            <div class="col-sm-6 col-md-3">
                <div class="thumbnail">
                    <img src="{{item.image.url}}" alt="..."> 
                    <div class="caption">
                        <h3>{{item.name}}</h3>
                        <p>₹ {{item.price}}</p>
                        <p>{{item.description}}</p>
                        
                        {% if user.is_authenticated %}
                        <p>
                            <a href="cart/addtocart/{{item.id}}" class="btn btn-primary right" role="button"><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart </a>
                        </p>
                        {% else %}    
                        <p>
                            <a class="btn btn-primary right" role="button" disabled = "disabled" ><span class="glyphicon glyphicon-shopping-cart"></span> Add to Cart </a>
                            <div class="alert alert-info" role="alert"><strong>Heads up!</strong> login please</div>
                        </p>
                        {% endif %}
                            
                        
                    </div>
                </div>
            </div>
        </a>
        {% endfor %}
    </div>
{% endblock %}