{% extends '../navbar.html' %}
{% block checkout %}
<style>
    body{
      background:no-repeat;
      background-image: url('../../../media/svg/cart.svg');
      background-position: center;
      background-attachment: fixed;
    }
    .card {
      background: rgba(200, 200, 200, 0.6) !important;
      color: black !important;
    }
    .card-body{
      background: rgba(255, 255, 255, 0.6) !important;
      color: black !important;
    }
  </style>
  <br>
  <div class="card" >
    <div class="card-header"><h3> Checkout</h3></div>
  <!-- Table -->
  <div class="card-body" >
  <div class="table-responsive">
  <table class="table text-center">
        <tr>
            <th>#</th>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Price <small style= "font-style: italic !important; font-size: xx-small;">(per 1 qnt.)</small></th>
            <th>Quentity</th>
            <th>Total Amount</th>
        </tr>
  {% for d in data %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{d.p_id}}</td>
        <td>{{d.p_name}}</td>
        <td>₹ {{d.price}}</td>
        <td> {{d.quantity}}</td>
        <td>₹ {{d.amount_t}}</td>
    </tr>
  {% endfor %}
  <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
  </tr>
</table>
</div>
<div class="row">
    <div class="col-md-7">
        {% for i in address %}
        <address> 
            <h4>Destination Address</h4>
            <strong>{{i.street_address}},</strong><br>
            {{i.city}}, {{i.state}},<br>
            {{i.country}},<br>
            {{i.postcode}}
        </address>
        {% endfor %}
    </div>
    <div class="col-md-4">
        <h4>
        <svg width="1em" height="1em" viewBox="0 0 16 16" class="bi bi-journal-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path d="M4 1h5v1H4a1 1 0 0 0-1 1H2a2 2 0 0 1 2-2zm10 7v5a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2h1a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V8h1zM2 5v-.5a.5.5 0 0 1 1 0V5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0V8h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2zm0 3v-.5a.5.5 0 0 1 1 0v.5h.5a.5.5 0 0 1 0 1h-2a.5.5 0 0 1 0-1H2z"/>
            <path fill-rule="evenodd" d="M13.5 1a.5.5 0 0 1 .5.5v2a.5.5 0 0 1-.5.5h-2a.5.5 0 0 1 0-1H13V1.5a.5.5 0 0 1 .5-.5z"/>
            <path fill-rule="evenodd" d="M13 3.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 0 1H14v1.5a.5.5 0 0 1-1 0v-2z"/>
          </svg>
          Total Amount: ₹{{fdata.total}}
        </h4>
        <a href="../../cart/checkout_shipment/" role="button" class="btn btn-success btn-lg btn-block">Pay Bill</a>
    </div>
</div>
{% endblock  %}