{% extends "navbar.html" %}
{% block edit_address %}
<div class="card">
    <div class="card-header">
        <div style="float:right;">
            <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-plus" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                <path fill-rule="evenodd" d="M8 3.5a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-.5.5H4a.5.5 0 0 1 0-1h3.5V4a.5.5 0 0 1 .5-.5z"/>
                <path fill-rule="evenodd" d="M7.5 8a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0V8z"/>
              </svg> New Address</button>
        </div>
        <div style="float:left;">
            <a href="../profile/" class="btn btn-primary">
                <svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-arrow-left" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M5.854 4.646a.5.5 0 0 1 0 .708L3.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
                    <path fill-rule="evenodd" d="M2.5 8a.5.5 0 0 1 .5-.5h10.5a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                  </svg>
               back</a>
        </div>
        <br>
        <br>
<h3><svg width="35px" height="35px" viewBox="1 1 18 18" class="bi bi-house-door" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M7.646 1.146a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 .146.354v7a.5.5 0 0 1-.5.5H9.5a.5.5 0 0 1-.5-.5v-4H7v4a.5.5 0 0 1-.5.5H2a.5.5 0 0 1-.5-.5v-7a.5.5 0 0 1 .146-.354l6-6zM2.5 7.707V14H6v-4a.5.5 0 0 1 .5-.5h3a.5.5 0 0 1 .5.5v4h3.5V7.707L8 2.207l-5.5 5.5z"/>
    <path fill-rule="evenodd" d="M13 2.5V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z"/>
  </svg>Edit Address</h3>
</div>
<div style="padding: 30px 30px 30px 30px;">
    
    {% for i in address %}
        <div class="row">
            <div class="col-md-8">
                
        {% if i.default_add %}
            <input type="radio" value ="address" checked><address> <strong>{{i.street_address}},</strong><br>{{i.city}}, {{i.state}},<br>{{i.country}},<br>{{i.postcode}}</address>
        {% else %}  
            <input type="radio" value ="address" disabled><address> <strong>{{i.street_address}},</strong><br>{{i.city}}, {{i.state}},<br>{{i.country}},<br>{{i.postcode}}</address>
        {% endif %}
            </div>
            <div class="col-md-4">
                <center>
        {% if cnt > 1 %}
            <a href="../remove_address/{{i.id}}" type="button" class="btn btn-danger"><span class="glyphicon glyphicon-remove"></span> Remove</a>
        {% else %}
            <button type="button" class="btn btn-danger" disabled><span class="glyphicon glyphicon-remove"></span> Remove</button>
        {% endif %}
            </div>
        </center>
        </div>   
    {% endfor %}
        
</div>
</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title" id="myModalLabel"> Add New Address</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>
        <form action="" method="POST"> {% csrf_token %} 
        <div class="modal-body">
            <div class="col-md-12">
                <div class="form-group">
                    <label for="address"> Address:</label>
                    <input type="text" class="form-control" name="address" placeholder="Address">
                </div>
            </div>
            
            <div class="col-md-12">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="city">City:</label>
                            <input type="text" class="form-control" name="city"  placeholder="City Name ...">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <div class="form-group">
                            <label for="state">State:</label>
                            <input type="text" class="form-control" name="state" placeholder="State Name ...">
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Country:</label>
                            <input type="text" class="form-control" name="country"  placeholder="Country Name ...">
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="postcode">Post code:</label>
                            <input type="text" class="form-control" name="postcode" placeholder="Post Code ...">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="submit" class="btn btn-primary">Save changes</button>
        </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}