{% extends "navbar.html" %}
{% block profile%}
<br>

<div class="card rounded-lg">
  <div class="card-header">
<h3>Profile</h3>
<center>
    <h1><svg width="100px" height="100px" viewBox="0 0 16 16" class="bi bi-person-circle" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path d="M13.468 12.37C12.758 11.226 11.195 10 8 10s-4.757 1.225-5.468 2.37A6.987 6.987 0 0 0 8 15a6.987 6.987 0 0 0 5.468-2.63z"/>
      <path fill-rule="evenodd" d="M8 9a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
      <path fill-rule="evenodd" d="M8 1a7 7 0 1 0 0 14A7 7 0 0 0 8 1zM0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8z"/>
    </svg></h1>
    <h3>{{data.first_name | title}} {{data.last_name | title}}</h3>
    <h5>{{data.email}}</h5>
</center>
<div style="float:right;">
    <button type="button" class="btn" data-toggle="modal" data-target="#myModal" style="background: transparent;"><svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
      <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
    </svg></button>
</div>
<h5>_</h5>
</div>
<div style="padding: 5px 5px 0px 5px;">
<div class="card rounded-lg" >
    <div class="card-header">
      <div style="float:right;">
        <a href="../edit_address/" class="btn"><svg width="20px" height="20px" viewBox="0 0 16 16" class="bi bi-pencil" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
          <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
        </svg></a>
    </div>      
    <h5 class="card-title">My Address</h5>
    </div>
    <div class="card-body">
      {% for i in address %}
          {% if i.default_add %}
          <input type="radio" value ="address" checked><address> <strong>{{i.street_address}},</strong><br>{{i.city}}, {{i.state}},<br>{{i.country}},<br>{{i.postcode}}</address>
          {% else %}  
          <input type="radio" value ="address" disabled><address> <strong>{{i.street_address}},</strong><br>{{i.city}}, {{i.state}},<br>{{i.country}},<br>{{i.postcode}}</address>
          {% endif %}
      {% endfor %}
    </div>
  </div>
</div>

<div style="padding: 5px 5px 5px 5px;">
    <div class="card rounded-lg" >
        <div class="card-header">
          <h5 class="card-title">My Orders</h5>
        </div>
        <div class="panel-body">
          Panel content
        </div>
    </div>
</div>

</div>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="myModalLabel">User profile edit</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        
      </div>
      <form action="" method="POST">{% csrf_token %}
      <div class="modal-body">
        <div class="form-group">
          <label>First Name</label>
          <input type="text" value="{{data.first_name | title}}" id ="fname" name="fname" class="form-control" style="width: 50%;">
        </div>
      
        <div class="form-group">
          <label for="">Last Name</label>
          <input type="text" value="{{data.last_name | title}}" id="lname" name="lname" class="form-control" style="width: 50%;">
        </div>
    
        <div class="form-group">
          <label>Email</label><br>
          <strong>{{data.email}}</strong>
        </div>  
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary">Save changes</button>
      </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}